.detail {
  min-height: 100vh;
}
.cardd {
  margin: 2rem 0;
  padding: 2rem;
  background-color: rgb(207, 216, 216);
  border-radius: 3px;
  color: black;
}
.cardd h3 {
  color: black;
  text-align: center;
}
.heading {
  font-weight: bolder;
  font-size: 1.08rem;
}
.h {
  text-align: right;
  font-size: 1.1rem;
}
